.index-text{
  scale:"4 3 4"
}

.imagen{
  margin-top: 200px;
}

.button{
  position: fixed; top: 10px; width:100%; text-align: center; z-index: 1;
  
}

.button-style{
  background-color: rgb(131, 189, 93);
  color: white;
  border-radius: 40%;
}


.index-logo{
  height: 100px;
}



.center{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8F9FA;
  margin:-10px;
}

.background{

  background: url('/img/background2.png') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
  color:black;
  border-radius: 2%;
 
}

.box1{
  margin-bottom: 200px;
}


.text1{
 margin-top: 300px;
 margin-bottom: 200px;
}

.footer{
  margin-top: -150px;
}

.contacto-size{
  width: 100%;
  height: 900px;
}

.color-menu{
background-color: black;
}

.vr-pic{
  margin-bottom: 200px;
  margin-top: -150px;
}



.button2{
  position: fixed; top: 50px; 
  width:100%; 
  text-align: center; 
  z-index: 1;
  
}

.button-inicio{
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 12px;
  line-height: 16px;
  z-index: 1000;
  width: 100%;
  text-align: center;
  
}

.button-style2{
  background-color: rgb(131, 189, 93);
  color: white;
  height: 60px;
  font-size: 40px;
  width: 300px;
}